#body {
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

.navbar-nav {
    padding-top: 16px;
    padding-left: 8%;
}
.navbar-nav.hover-a:hover {
    background-color: white;
    border-bottom: 3px solid #E8539D;
}
.navbar-nav.login:hover {
    background-color: #f2f2f2;
}
.navbar-nav.register:hover {
    background-color: #2eb8b5;
}
.register {
    margin-left: 10px;
}
.navbar {
    margin-bottom: 100px;
    border-bottom: 1px solid #E1E8EE;
}
.icon-bar {
 background-color: black;
}
.login {
    border: 2px solid #E1E8EE;
    border-radius: 7px;
    color: #7F8FA4;
    text-align: center;
}
.bell {
    transform: translate3d(13px, -3px, 10px);
}
.login:hover {
color: #7F8FA4;
}
.register {
    border: 2px solid #E1E8EE;
    border-radius: 7px;
    color: white;
    background-color: #30BEBC;
    width: 103px;
    text-align: center;
    padding: 13px;
}
.register:hover {
    color: white;
}
.navbar-collapse ul li {
font-weight: bold;
}
.hover-a {
color: #7F8FA4;
height: 61px;
}
.hover-a:hover {
    background-color: white;
    color: #334150;
}
.hover-a:hover .navbar-collapse ul li {
    border-bottom: 1px solid red;
}
.navbar-header a {
    padding-left: 100px;
}
.left-letters {
    font-size: 16px;
    color: #7F8FA4;
    padding-top: 15px;
    padding-bottom: 30px;
}

.right-picture {
    width: 100%;
    background-size: cover;
}
.left-picture{
    width: 100%;
    background-size: cover;
}
.section1 {
    margin-bottom: 100px;
}
.section2{
    margin-bottom: 0px;
}
.section3{
    margin-bottom: 100px;
}
.section5{
    margin-bottom: 100px;
    margin-top: 100px;
}
.button {
    width: 100%;
    background-color: #FF6289;
    color: white;
    padding: 9px px;
    font-size: 20px;
    border-radius: 26px;
    font-size: 20px;
    padding: 9px;
    text-align: center;
}
.button-ver2 {
    width: 100%;
    background-color: #FF6289;
    color: white;
    padding: 9px px;
    font-size: 20px;
    border-radius: 26px;
    font-size: 20px;
    padding: 9px;
    text-align: center;
}
.in-circle h3{
    margin-top: 3px;
    padding-left: 5px;
}

.rounded-pill.button:hover {
    background-color: #ff3366;
    text-decoration: none;
    color: white;
}
.left-content {
    font-size: 20px;
    margin-top: 70px;
}
.stopwatch {
    text-align: center;
    margin-top: 150px;
}
.dropdown-toggle {
    background-color: white;
}
.btn-primary {
    border-radius: 26px;
}
.dropdown button {
    width: 100%;
    padding-bottom: 13px;
    padding-top: 13px;
    border-radius: 26px;
    font-size: 15px;
    border: 1px solid #E1E8EE;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #7F8FA4;
}
.dropdown button span.caret {
    margin-left: 85px;
}
.words-header-section3 {
    color: #7F8FA4;
    font-size: 17px;
    text-align: center;
}
.section3 h3 {
    text-align: center;
}
.icon-header {
    text-align: center;
}
.box {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #E1E8EE;
    background: #fff;
    background-color: #FBFCFD;
    margin-bottom: 15px;
 
}
.box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}
.section3 .box-header {
    font-weight: bold;
    font-size: 15px;
    padding-top: 41px;
}
.section3 .box-header-plane {
    font-weight: bold;
    font-size: 15px;

    padding-bottom: 10px;
}
.section3 .box-content {
    color: #7F8FA4;
    font-size: 14px;
}
.section3 .box-content-plane {
    color: #7F8FA4;
    font-size: 14px;
    padding-bottom: 17px;
}
.section3 .XCT {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.section3 .XCT a {
    color: #30BEBC;
}
.section3 .XCT a:hover {
    color: #FF6289;
}
.section3 .XCT-plane {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
}
.section3 .XCT-plane a {
    color: #30BEBC;
}
.section3 .XCT-plane a:hover {
    color: #FF6289;
}
.box-info {
    text-align: center;
}
.section3 .col-lg-4 {
    padding: 0px 7px;
}
.section3 .col-lg-12 {
    margin-bottom: 25px;
}
.QTBT {
    text-align: center;
    margin-bottom: 40px;
}
.in-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.in-circle span {
    padding-left: 20px;
}
.section4 .box {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #E1E8EE;
    background: #fff;
    background-color: #FBFCFD;
    margin-bottom: 15px;
}
.section4 .box img {
    padding-bottom: 20px;
}
.app-row {
    margin-top: 140px;
    text-align: center;
}
.thumnail {
    display: inline-flex;
    margin-top: 20px;
}
#Footer {
    background-color: #30BEBC;
    height: 390;
    color: white;
}
#Footer-responsive {
    background-color: #30BEBC;
    height: 390;
    color: white;
}
#Footer-responsive  a {
    color: white;
}
#Footer-responsive h4 {
  
    padding-bottom: 10px;
}
#Box-Footer {
    padding: 30px 30px;
}
#Box-Footer li {
    padding-bottom: 8px;
}
#Footer a {
    color: white;
}

#Footer h4 {
    padding-left: 20px;
    padding-bottom: 10px;
}
.inso-logo {
    padding-bottom: 10px;
}
#Lienhe {
    padding-left: 20px;
}
.Head-center {
    height: 90px;
    padding-left: 20px;
}
.step-plane
{
    width: 64%;
    margin: 0 auto;
}
.Head-center img {
    padding-top: 20px;
}
.LH-content {
    float: right;
    width: 89%;
    padding-right: 62px;
}
.telep {
    padding-left: 20px;
}

.Heat-phone {
    float: right;
    width: 89%;
    padding-right: 62px;
}

.Heat-phone img {
    padding-top: 12px;
}

.chronometer {
    width: 30%;
}
.BHMB{
    width: 100%;
    
}
.choose {
    width: 100%;
}


.section3 .box .love {
    padding-top: 40px;
}

.section3 .box .car {
    padding-top: 70px;
}

.section3 .human {
    padding-top: 40px;
}

.section3 .plane {
    padding-left: 34%;
    padding-top: 16px;
}
.section4 .STK {
    border: 1px solid #E1E8EE;
    width: 84%;
    margin-left: 8%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    padding: 8px 8px;
    margin-bottom: 20px;
}.STK-1{
    margin-right: 80px;
    margin-left: 15px;
}
.step1{
    text-align: center;
    margin-top: 90px;
}
.step2{
    text-align: center;
    margin-top: 90px;
}

.give{
    width: 84%;
}
.chronometer{
    margin-left: 34%;
    margin-top: 17%;
}
.small-pic {
    padding-left: 10px;
    padding-right: 10px; }
.fa-plus{
    padding-left: 130px;
}
.panel {
  
     background-color: none; 
   
}

#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
  }
  #accordion a {
    display: block;
    padding: 10px 15px;
   
    text-decoration: none;
  }
  #accordion .panel-heading a.collapsed:hover,
  #accordion .panel-heading a.collapsed:focus {
    
    transition: all 0.2s ease-in;
  }
  #accordion .panel-heading a.collapsed:hover::before,
  #accordion .panel-heading a.collapsed:focus::before {
    color: white;
  }
  #accordion .panel-heading {
    padding: 0;
    border-radius: 0px;
   
  }
  #accordion .panel-heading a:not(.collapsed) {
   
    transition: all 0.2s ease-in;
  }
  
  /* Add Indicator fontawesome icon to the left */
 
  #accordion .panel-heading .accordion-toggle.collapsed::before {
    color: #444;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
  }
 
#accordion .panel {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
    background-color: #30BEBC;
}
#button {
    display: inline-block;
    background-color: #707070;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 15px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    border-radius: 35px;
    color: white;
        font-size: 30px;
        padding-top: 5px;
  }
  #button::after {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;}
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
.section5 .col-sm-5{
    text-align: center;
}
.button-ver2:hover a{
    color: white;
    text-decoration: none;
}
.button-ver2:hover{
background-color: #ff4d79;
}
.button:hover a{
    color: white;
    text-decoration: none;
}
.button:hover{
background-color: #ff4d79;
}
@media (min-width: 320px) {
#Footer{
    display: none
}
#Footer-responsive{
    display: block;
}
#Lienhe {
     padding-left: 0px; 
}
.navbar-header a {
     padding-left: 0px; 
}
.navbar-toggle {
    margin-top: 20px;
}
.left-content {
    margin-top: 30px;
}
.stopwatch {
     margin-top: 0px; 
}
.stopwatch {
    text-align: center;
    margin-top: 0px; 
    margin-bottom: 80px;
}
.appstore{
    margin-bottom: 15px;                                                                                                                                             
}
.navbar-nav {
    padding-top: 16px;
    padding-left: 0px; 
}
.login{
    width: 102px;
    margin-left: 10px;
    margin-bottom: 7px;                                                                                                                                    
}
.rounded-pill {
    color: white;
}   
.hover-a {
    color: #7F8FA4;
     height: auto; 
}        
.section3 .box-header {
    font-weight: bold;
    font-size: 15px;
    padding-top: 15px;
}                            
}     
@media (min-width: 768px) {
    .navbar-brand>img {
        margin-left: 12%;
    }
    .left-content {
        margin-top: 0px; 
    }
    .right-picture {
        margin-top: 40px;
    }
    .button {
        width: 78%;
    }
    .stopwatch {
        text-align: center;
        margin-top: 7%;
        margin-bottom: 0px; 
    }
    .box {
        transition: box-shadow .3s;
        border-radius: 10px;
        border: 1px solid #E1E8EE;
        background: #fff;
        background-color: #FBFCFD;
        margin-bottom: 15px;
        width: 70%;
        margin-left: 14%;
        padding: 40px;
        
    }
    .section3 .plane {
        padding-left: 37%;
    }
    .section3 .box-content {
        padding-bottom: 10px;
    }
    .dropdown button span.caret {
        margin-left: 0px; 
    }
    #accordion .panel {
        border-radius: 0;
        border: 0;
        margin-top: 0px;
        background-color: #30BEBC;
        width: 95%;
    }
    #Box-Footer {
        
        padding-top: 30px;
        padding-bottom: 30px; 
        padding-left: 0px; 
        padding-right: 0px;
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 9px 10px;
    }
    
}
  @media (max-width: 1023px) { .navbar-header { float: none; } .navbar-left,.navbar-right { float: none !important; } .navbar-toggle { display: block; } .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); } .navbar-fixed-top { top: 0; border-width: 0 0 1px; } .navbar-collapse.collapse { display: none!important; } .navbar-nav { float: none!important; margin-top: 7.5px; } .navbar-nav>li { float: none; } .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; } .collapse.in{ display:block !important;} 
 
}
@media (min-width: 1024px){
    .navbar-nav {
        padding-top: 16px;
        padding-left: 6%;
    }
    .navbar-brand>img {
        margin-left: 12%;
    }
    .left-content {
        margin-top: 9%;
    }
    .stopwatch {
        margin-top: 14%;
    }
    #Footer-responsive{
        display: none;
    }
    #Footer{
        display: block;
    }
    .clound{
        margin-top: 17%;
    }
    .box {
        transition: box-shadow .3s;
        border-radius: 10px;
        border: 1px solid #E1E8EE;
        background: #fff;
        background-color: #FBFCFD;
        margin-bottom: 15px;
        width: 56%;
        margin-left: 22%;
        padding: 29px;
        
    }
    .hover-a {
        color: #7F8FA4;
         height: 61px; 
    }
}
@media (min-width: 1200px){
    .appstore {
        margin-bottom: 0px;
    }
    .box {
        transition: box-shadow .3s;
        border-radius: 10px;
        border: 1px solid #E1E8EE;
        background: #fff;
        background-color: #FBFCFD;
         margin-bottom: 4%; 
        width: 100%; 
         margin-left: 0%; 
         padding: 0px; 
       
    }
    .nav>li>a {
        position: relative;
        display: block;
        padding: 9px 15px;
    }
}